
.row.categories{
    width: 65%;
    padding-left: 17.5%;
    padding-top: 1%;
}
main {
    width: 80%;
    margin: 1rem auto;
}

mat-card{
    padding: 10px;
    width: 200px;
    box-shadow: none !important;
}
mat-card-title{
font-size: 23px;
    color: #808080d1;
    font-weight: bold;
}
mat-card-content{
    font-size: 13px;
    color: #808080d1;
    }
mat-card-title, mat-card-content {
    text-align: center;
}

img{
    margin-left: 4px;
    width: 150px;
}
.mat-card-image.img:hover { 
    opacity: 0.8;
    transform: scale(1.04); 
}