  <mat-toolbar color="primary">
    <span>
      <a routerLink="/">Katar</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/itemCategory" routerLinkActive="mat-accent">categories</a>
      </li>
      <li>
          <a mat-button [routerLink]="['/myRequests',  userId]" routerLinkActive="mat-accent">
            <span *ngIf="requestCounter==0">my Requests</span>
            <span *ngIf="requestCounter>0" matBadge="{{requestCounter}}" matBadgeOverlap="false" matBadgeColor="accent">my Requests</span></a>
        </li>
    </ul>
  </mat-toolbar>
  