        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="How can we help you ?"
                   aria-label="Category"
                   [matAutocomplete]="auto"
                   [formControl]="categoryCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredItemsCategories | async" [value]="item.name">
                <img class="example-option-img" aria-hidden src="assets/{{item.img}}" height="25">
                <span>{{item.name}}</span> |
                <small>{{item.description}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>