  <mat-toolbar color="primary">
    <span>
      <a routerLink="/">Kt - Application</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/itemCategory" routerLinkActive="mat-accent">{{ lables.categories}}</a>
      </li>
      <li>
          <a mat-button [routerLink]="['/myRequests',  userId]" routerLinkActive="mat-accent">
            <span *ngIf="requestCounter>0" matBadge="{{requestCounter}}" matBadgeOverlap="false" matBadgeColor="accent">{{ lables.myRequests }}</span>
          </a>
      </li>
      <li>
        <a mat-button [routerLink]="['/createIncident']" routerLinkActive="mat-accent">{{ lables.createIncident }}</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated"> 
        <button mat-button >Logout</button>
      </li>
    </ul>
  </mat-toolbar>
  