    <p>My Requests</p>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>   
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="create">
        <mat-header-cell *matHeaderCellDef> Create </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.create}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="expandRequest(row.sys_id)">
      </mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>