table {
    width: 100%;
  }
  mat-row{
    cursor: pointer;
  }
  /* issue in page size */
  .mat-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    display: none;
}