.example-container{
    width: 60%;
    padding-left: 20%;
    margin-top: 5%;
}
button.mat-raised-button.mat-primary{
    margin-left: 10px;
}
mat-form-field{
    width: 400px;
}
input.mat-input-element {
    margin-top: 0.7em;
}